
:root {
	--soduku-tile-bg: var(--slate-50);
	--soduku-tile-fg: var(--blue-700);
	--soduku-chosen-fg: var(--slate-700);
	--soduku-border: var(--slate-700);
	--soduku-highlight: var(--blue-300);
	--soduku-matched: var(--slate-300);
	--soduku-note: var(--slate-600);
	--soduku-keyboard-fg: var(--slate-50);
	--soduku-keyboard-bg: var(--blue-700);
	--soduku-keyboard-notes-bg: var(--slate-600);
}

.difficulty {
	text-align: center;
	margin-bottom: var(--spacing-1);
	font-weight: bold;
}

#soduku-board {
	span {
		background-color: var(--soduku-tile-bg);
		padding: var(--spacing-1);
		border: 1px solid var(--soduku-border);
		position: relative;

		/* right hand border */
		&:nth-child(3n):not(:nth-child(9n)) {
			border-right-width: 3px;
			border-right-color: var(--soduku-border);
		}

		/* bottom border */
		&:nth-child(n+19):nth-child(-n+27),
		&:nth-child(n+46):nth-child(-n+54) {
			border-bottom-width: 3px;
			border-bottom-color: var(--soduku-border);
		}

		&.highlight {
			background-color: var(--soduku-highlight) !important;
		}

		&.matched {
			background-color: var(--soduku-matched);
		}

		&.chosen .value {
			color: var(--soduku-chosen-fg);
		}

		&.error {
			border-color: var(--red-500);
			background-color: var(--red-200);

			span.value {
				color: var(--red-500) !important;
			}
		}

		.value, .notes {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			pointer-events: none;
			background-color: transparent;
			border: 0;
		}

		.value {
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			font-size: var(--font-2xl);
			color: var(--soduku-tile-fg);
		}

		.notes {
			display: none;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			color: var(--soduku-note);
			font-size: 0.7rem;
			padding: 0;
			gap: 0;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				border: 0;
				padding: 0;
			}
		}
	}
}

.keyboard {
	span {
		color: var(--soduku-keyboard-fg);
		background-color: var(--soduku-keyboard-bg);

		&[disabled] {
			background-color: transparent;
			color: var(--green-600);
		}
	}

	.notes {
		span:not([disabled]) {
			background-color: var(--soduku-keyboard-notes-bg);
		}		
	}
}
