
:root {
	--swordle-empty: var(--slate-200);
	--swordle-empty-text: var(--slate-800);
	--swordle-used: var(--slate-700);
	--swordle-correct: var(--emerald-500);
	--swordle-nearly: var(--amber-500);
	--swordle-key: var(--slate-500);
	--swordle-text: var(--slate-50);
}

#swordle-board {
	gap: var(--spacing-2);

	span {
		color: var(--swordle-empty-text);
		background-color: var(--swordle-empty);
		border: 2px solid var(--swordle-used);
		align-content: center;
		text-align: center;
		font-weight: bold;
		font-size: var(--font-xl);
	}

	span.correct {
		color: var(--swordle-text);
		background-color: var(--swordle-correct);
		border-color: var(--swordle-correct);
	}
	span.nearly {
		color: var(--swordle-text);
		background-color: var(--swordle-nearly);
		border-color: var(--swordle-nearly);
	}
	span.used {
		color: var(--swordle-text);
		background-color: var(--swordle-used);
	}
}

.keyboard {
	padding: var(--spacing-2);

	div {
		margin-bottom: var(--spacing-2);
		display: grid;
		gap: var(--spacing-2);
		grid-template-columns: repeat(10, 1fr);
	}
	div:nth-of-type(2) {
		margin-left: var(--spacing-4);
		margin-right: var(--spacing-4);
		grid-template-columns: repeat(9, 1fr);
	}

	span {
		padding: var(--spacing-2);
		text-transform: uppercase;
		font-weight: bold;
		font-size: var(--font-2xl);
		display: inline-block;
		color: var(--swordle-text);
		background-color: var(--swordle-key);
		border-radius: var(--spacing-1);
		align-content: center;
	}

	span.enter {
		font-size: var(--font-sm);
	}
}
