
:root {
	/* Fonts */
	--font-base: 'NeutraText', sans-serif;
	--font-bold: 'NeutraTextBol', sans-serif;
	--font-xs: 0.75rem;
	--font-sm: 0.875rem;
	--font-md: 1rem;
	--font-lg: 1.125rem;
	--font-xl: 1.25rem;
	--font-2xl: 1.5rem;
	--font-3xl: 1.875rem;

	/* Shadow */
	--shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-xl: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
	
	/* Spacing */
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-7: 1.75rem;
	--spacing-8: 2rem;
	--spacing-9: 2.25rem;
	--spacing-10: 2.5rem;
	--spacing-11: 2.75rem;
	--spacing-12: 3rem;
	--spacing-13: 3.25rem;
	--spacing-14: 3.5rem;
	--spacing-15: 3.75rem;
	--spacing-16: 4rem;
	
	/* Base colours */
	--grey-50: oklch(98.5% 0.002 247.839);
	--grey-100: oklch(96.7% 0.003 264.542);
	--grey-200: oklch(92.8% 0.006 264.531);
	--grey-300: oklch(87.2% 0.01 258.338);
	--grey-400: oklch(70.7% 0.022 261.325);
	--grey-500: oklch(55.1% 0.027 264.364);
	--grey-600: oklch(44.6% 0.03 256.802);
	--grey-700: oklch(37.3% 0.034 259.733);
	--grey-800: oklch(27.8% 0.033 256.848);
	--grey-900: oklch(21% 0.034 264.665);
	--grey-950: oklch(13% 0.028 261.692);

	--blue-50: oklch(97% 0.014 254.604);
	--blue-100: oklch(93.2% 0.032 255.585);
	--blue-200: oklch(88.2% 0.059 254.128);
	--blue-300: oklch(80.9% 0.105 251.813);
	--blue-400: oklch(70.7% 0.165 254.624);
	--blue-500: oklch(62.3% 0.214 259.815);
	--blue-600: oklch(54.6% 0.245 262.881);
	--blue-700: oklch(48.8% 0.243 264.376);
	--blue-800: oklch(42.4% 0.199 265.638);
	--blue-900: oklch(37.9% 0.146 265.522);
	--blue-950: oklch(28.2% 0.091 267.935);

	--green-50: oklch(98.2% 0.018 155.826);
	--green-100: oklch(96.2% 0.044 156.743);
	--green-200: oklch(92.5% 0.084 155.995);
	--green-300: oklch(87.1% 0.15 154.449);
	--green-400: oklch(79.2% 0.209 151.711);
	--green-500: oklch(72.3% 0.219 149.579);
	--green-600: oklch(62.7% 0.194 149.214);
	--green-700: oklch(52.7% 0.154 150.069);
	--green-800: oklch(44.8% 0.119 151.328);
	--green-900: oklch(39.3% 0.095 152.535);
	--green-950: oklch(26.6% 0.065 152.934);

	--red-50: oklch(97.1% 0.013 17.38);
	--red-100: oklch(93.6% 0.032 17.717);
	--red-200: oklch(88.5% 0.062 18.334);
	--red-300: oklch(80.8% 0.114 19.571);
	--red-400: oklch(70.4% 0.191 22.216);
	--red-500: oklch(63.7% 0.237 25.331);
	--red-600: oklch(57.7% 0.245 27.325);
	--red-700: oklch(50.5% 0.213 27.518);
	--red-800: oklch(44.4% 0.177 26.899);
	--red-900: oklch(39.6% 0.141 25.723);
	--red-950: oklch(25.8% 0.092 26.042);
}

:root {
	--mambo-green: var(--green-500);
	--mambo-blue: var(--blue-500);
	--mambo-error: var(--red-600);

	--primary-bg: white;
	--primary-fg: var(--grey-800);

	--secondary-bg: var(--grey-200);
	--secondary-fg: var(--grey-950);

	--button-bg: var(--grey-800);
	--button-fg: var(--grey-50);
	--button-border: 2px solid var(--grey-950);

	--button-hover-bg: var(--grey-700);
	--button-hover-fg: var(--grey-50);
	--button-border: 2px solid var(--grey-950);

	--button-disabled-bg: var(--grey-500);
	--button-disabled-fg: var(--grey-200);
	--button-disabled-border: 2px solid var(--grey-700);
}
